<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs')   %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non amet pariatur enim neque repudiandae asperiores similique, ea exercitationem illo dicta provident nesciunt tempora sed eius est incidunt ipsa quibusdam rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non amet pariatur enim neque repudiandae asperiores similique, ea exercitationem illo dicta provident nesciunt tempora sed eius est incidunt ipsa quibusdam rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non amet pariatur enim neque repudiandae asperiores similique, ea exercitationem illo dicta provident nesciunt tempora sed eius est incidunt ipsa quibusdam rem.</p>
    </div>


    <%- include('./partials/footer.ejs') %>
    
</body>
</html>